@import '../../assets/styles/invoice.styl';

.control-over-invoices {
  height: auto;
  background-color: #ffffff;
  border: solid 1px #dddddd;
}

.btn {
  width: 120px;
  height: 50px;
  background: #18c1d6 !important;
  border: 1px solid #18c1d6 !important;
  margin-left: 10px;
  color: #fff;
}

.btn:hover {
  width: 120px;
  height: 50px;
  background: #18c1d6 !important;
  border: 1px solid #18c1d6 !important;
  margin-left: 10px;
  color: #fff;
}

.set-content {
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.typeButton {
  height: 50px;
  background-color: #f5f6fa;
  border: solid 1px #e1e6eb;
  margin-top: 20px;
}

.typeButton div {
  width: 120px;
  height: 50px;
  color: #333333;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  border-right: solid 1px #e1e6eb;
}

.typeButton .active {
  background: #fff;
  border-bottom: none;
  color: #2d8cf0;
  border-top: 1px solid #2d8cf0;
}

.typeButton div:first-of-type {
  margin-left: 0 !important;
}

.set-title {
  padding-left: 10px;

  span {
    color: #18c1d6;
    font-size: 18px;
    border-right: 2px solid #18c1d6;
    padding: 10px 10px 10px 0;
    cursor: pointer;
  }

  img {
    margin-left: 10px;
  }
}

.bottom-24 {
  height: 40px;
  margin: 0px;
  padding-top: 20px;
}

.bottom-24 .pd-left {
  padding: 0px;
}

.show-more-btn {
  text-align: center;
  padding: 20px 0;
}
